{% extends "account/base.html" %}

{% load i18n account %}


{% block title %}{% trans "Create Account" %}{% endblock %}

{% block header %}
    <nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">GetQd</a>
        </div>
    </nav>
{% endblock %}

{% block login_box %}

    <div class="box-header">
        <span class="title">{% trans 'Sign Up' %}</span>
    </div>

    <div class="box-content padded">
        <form class="separate-sections" method="POST" action="{% url 'account_signup' %}">
            {#        {{ form.as_p }}#}
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="alert alert-error">{% for error in form.non_field_errors %}{{ error }}{% endfor %}</div>
            {% endif %}
            <div class="input-group addon-left">
          <span class="input-group-addon" href="#">
            <i class="icon-envelope"></i>
          </span>
                <input type="text" name="email" placeholder="email">
            </div>
            {% if form.email.errors %}
                <div class='alert alert-error'>{{ form.email.errors }}</div>
            {% endif %}


            <div class="input-group addon-left">
          <span class="input-group-addon" href="#">
            <i class="icon-user"></i>
          </span>
                <input type="text" name="username" placeholder="username">
            </div>
            {% if form.username.errors %}
                <div class='alert alert-error'>{{ form.username.errors }}</div>
            {% endif %}

            <div class="input-group addon-left">
          <span class="input-group-addon" href="#">
            <i class="icon-key"></i>
          </span>
                <input type="password" name="password1" placeholder="password">
            </div>
            {% if form.password1.errors %}
                <div class='alert alert-error'>{{ form.password1.errors }}</div>
            {% endif %}

            <div class="input-group addon-left">
          <span class="input-group-addon" href="#">
            <i class="icon-key"></i>
          </span>
                <input type="password" name="password2" placeholder="confirm password">
            </div>
            {% if form.password2.errors %}
                <div class='alert alert-error'>{{ form.password2.errors }}</div>
            {% endif %}

            <div>
                <button class="btn btn-blue btn-block">
                    {% trans 'Sign Up' %} <i class="icon-ok"></i>
                </button>
            </div>

        </form>

        <div>
            <a href="{% url 'account_login' %}">
                Already have an account? <strong>Sign In</strong>
            </a>
        </div>
    </div>

{% endblock %}
{% block login_footer %}
    <div class="row">
        <div class="col-md-6">
            <a href="#" class="btn btn-facebook btn-block"><i class="icon-facebook-sign"></i> Facebook</a>
        </div>
        <div class="col-md-6">
            <a href="#" class="btn btn-twitter btn-block"><i class="icon-twitter"></i> Twitter</a>
        </div>
    </div>

{% endblock %}